
.Skin .MC .TextEntryBox,
.Skin .TE .ESTB .InputText,
.Skin .TE .FORM .InputText,
.Skin .TE .ML .InputText,
.Skin .TE .PW .InputText,
.Skin .TE .SL .InputText,
.Skin .TE textarea,
.Skin input.TextEntryBox,
.Skin input[type="password"],
.Skin input[type="search"],
.Skin input[type="text"],
.Skin textarea {
    border: 1px inset #999 !important;
    background-color: rgba(255,255,255,1) !important;
    border-radius: 2px;
}

.Skin .MC .TextEntryBox,
.Skin .TE .ESTB .InputText,
.Skin .TE .FORM .InputText,
.Skin .TE .ML .InputText,
.Skin .TE .PW .InputText,
.Skin .TE .SL .InputText,
.Skin input.TextEntryBox,
.Skin select 
 {
    min-height: 42px !important;
    padding: 4px !important;
}

.Skin select {
    border: 1px solid #999 !important;
    background-color: rgba(255,255,255,1) !important;
    border-radius: 2px;

}