
.Skin .MC .TextEntryBox,
.Skin .TE .ESTB .InputText,
.Skin .TE .FORM .InputText,
.Skin .TE .ML .InputText,
.Skin .TE .PW .InputText,
.Skin .TE .SL .InputText,
.Skin .TE textarea,
.Skin input.TextEntryBox,
.Skin input[type="password"],
.Skin input[type="search"],
.Skin input[type="text"],
.Skin textarea {
    border: 1px inset #999 !important;
    background-color: rgba(255,255,255,1) !important;
    border-radius: 2px;
}

.Skin .MC .TextEntryBox,
.Skin .TE .ESTB .InputText,
.Skin .TE .FORM .InputText,
.Skin .TE .ML .InputText,
.Skin .TE .PW .InputText,
.Skin .TE .SL .InputText,
.Skin input.TextEntryBox,
.Skin select 
 {
    min-height: 36px !important;
    padding: 4px !important;
}

.Skin select {
    border: 1px solid #999 !important;
    background-color: rgba(255,255,255,1) !important;
    border-radius: 2px;

}

.Skin label.MultipleAnswer, 
.Skin label.MultipleAnswer.q-focused,
.Skin label.MultipleAnswer.q-checked,
.Skin label.MultipleAnswer.q-checked.q-focused,
.Skin label.SingleAnswer,
.Skin label.SingleAnswer.q-checked,
.Skin label.SingleAnswer.q-focused,
.Skin label.SingleAnswer.q-checked.q-focused
{
    background-color: rgba(255,255,255,1) !important;
    border: none !important;
    padding:  10px 10px 10px 40px !important;
}


.Skin .MC .MAVR input, 
.Skin .MC .MAVR span.LabelWrapper, 
.Skin .MC .SAVR input, 
.Skin .MC .SAVR span.LabelWrapper
{

}

.Skin .MC .MAVR input.TextEntryBox, 
.Skin .MC .SAVR input.TextEntryBox
{
 float:NONE;
}

.Skin label.MultipleAnswer, 
.Skin label.SingleAnswer {
 display: inline-block !important;
}

.Skin .QuestionText {
 padding: 0 !important;
 margin: 0px auto 24px auto !important;
 line-height: inherit !important;
 }

.QuestionOuter {
 margin: 0px 0px 24px 0px !important;
 
}

.Skin .ValidationError
{
 margin: 8px 0px!important;
 min-height: 24px !important;;
 padding: 2px 0 0 0;
 font-size: 16px;
 line-height: 16px;
}

.Skin .MC .DL .QuestionBody
{
 padding-left: 0px !important;
}

.Skin h2 {

 margin: 24px 0;
 
}

.Skin .Matrix th,
.Skin .RO .RB th,
.Skin .SBSMatrix th
{
 padding: 8px 2px;
 margin: 0px;
}

.Skin .Matrix th span.LabelWrapper {
 padding:0 !important; 
}


@media (max-width:769px) {
  .LabelWrapper .ChoiceTextPositionLeft + .TextEntryBox { max-width:60%; }
  .Skin .SkinInner {
    padding: 20px 5%; 
  }

}

@media (max-width: 480px) {

     .Skin .SkinInner {
       padding: 20px 5%; 
     }

      .Skin .QuestionText,
      .Skin .Matrix .QuestionBody, .Skin .SBS .QuestionBody,
      .Skin .QuestionBody,
      .Skin .q-matrix .answered-indicator,
      .JFEScope .Skin .q-matrix .table-cell,
      .Skin select, .Skin input[type="text"],.Skin textarea
      { font-size: 16px !important; }

     .Skin .answered-indicator {
      overflow: auto !important;
      height: auto !important;
      padding: 10px 0 10px 0;
      font-weight: bold;
     } 

     .Skin .answered-indicator span::before {
      content: "• ";
     }
     
     .Skin .Matrix .QuestionBody {
       padding: 0px !important;
     }

   .LabelWrapper .ChoiceTextPositionLeft + .TextEntryBox { max-width:60%; }

 
 }
