.Skin .MC .TextEntryBox,
.Skin .TE .ESTB .InputText,
.Skin .TE .FORM .InputText,
.Skin .TE .ML .InputText,
.Skin .TE .PW .InputText,
.Skin .TE .SL .InputText {
    max-width: 100%;
    margin: 2px 0;
}
@media (min-width: 980px) {
    .Skin .TE .ESTB .InputText,
    .Skin .TE .ML .InputText {
        max-width: 1080px;
    }
}


.Skin .MC .TextEntryBox,
.Skin .TE .ESTB .InputText,
.Skin .TE .FORM .InputText,
.Skin .TE .ML .InputText,
.Skin .TE .PW .InputText,
.Skin .TE .SL .InputText,
.Skin .TE textarea,
.Skin input.TextEntryBox,
.Skin input[type="password"],
.Skin input[type="search"],
.Skin input[type="text"],
.Skin textarea {
    border: 2px inset #999;
    background-color: rgba(0,0,0,.00);
    max-width: 100%;
    color: #000;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}

.Skin .MC .TextEntryBox,
.Skin .TE .ESTB .InputText,
.Skin .TE .FORM .InputText,
.Skin .TE .ML .InputText,
.Skin .TE .PW .InputText,
.Skin .TE .SL .InputText,
.Skin input.TextEntryBox {
    min-height: 44px;
    padding: 4px;
}