.checkbox-common{align-items:center;display:flex;font-size:.875rem;line-height:1rem;margin-top:.625rem;position:relative}
.checkbox-common .checkbox-control{display:inline-block;height:1rem;margin-inline-end:.75rem;position:relative;width:1rem}
.checkbox-common input{-webkit-appearance:none;appearance:none;border:.0625rem solid #8c8c8c;border-radius:.25rem;cursor:pointer;height:100%;outline:0;position:relative;width:100%}
.checkbox-common input:hover{box-shadow:0 0 0 .125rem rgba(11,110,208,.16)}
.checkbox-common input:focus{box-shadow:0 0 0 .125rem #94c7f9}
.checkbox-common svg{fill:#0b6ed0;height:105%;left:0;position:absolute;stroke:#0b6ed0;stroke-width:.125rem;top:0;width:105%}
.choice .choice-error-container .choice-error{height:100%}
.choice .choice-error-container .choice-error.error{border-radius:.25rem;box-shadow:0 0 0 .063rem #b00;margin:0 -.625rem .5rem;padding:.625rem 1.5rem .625rem .625rem;word-break:break-word}
[dir=rtl] .choice .choice-error-container .choice-error.error{padding:.625rem .625rem .625rem 1.5rem}
.choice .choice-content{flex-wrap:wrap;margin-top:-.625rem}
[dir=ltr] .choice .choice-content{margin-right:-.625rem}
[dir=rtl] .choice .choice-content{margin-left:-.625rem}
.choice .choice-content .choice-te-wrapper{margin-top:.625rem;max-width:calc(100% - .625rem)}
[dir=ltr] .choice .choice-content .choice-te-wrapper{margin-right:.625rem}
[dir=rtl] .choice .choice-content .choice-te-wrapper{margin-left:.625rem}
.choice .choice-content .display-with-image{margin-top:.625rem}
[dir=ltr] .choice .choice-content .display-with-image{margin-right:.625rem}
[dir=rtl] .choice .choice-content .display-with-image{margin-left:.625rem}
#dialog #dialog-box{background:#fff;border:.125rem solid #eee;border-radius:.5rem;color:#32363a;font-size:.875rem;max-width:22.5rem;outline:0;padding:0}
#dialog #dialog-header{border-bottom:.125rem solid #eee;padding:.875rem}
#dialog #dialog-header #dialog-header-text{color:#32363a;font-size:.875rem;margin:0 .625rem}
#dialog #dialog-close{fill:#515559}
#dialog #dialog-content{padding:1.5rem}
#dialog #dialog-buttons{border-top:.125rem solid #eee;display:flex;flex-direction:column;padding:1.125rem 1.5rem}
#dialog #dialog-buttons button{background:#0b6ed0;color:#f7f7f7;font-size:.875rem;min-height:2.75rem;padding-left:1rem;padding-right:1rem;width:100%}
#dialog #dialog-buttons button+button{background:#f7f7f7;color:#0b6ed0;margin-top:.625rem}
#dialog .with-buttons#dialog-box{max-width:100%;width:22.5rem}
@media screen and (min-height:27rem){
#dialog .with-buttons #dialog-content{min-height:12.5rem}
}
@media screen and (max-height:40rem){
#dialog #dialog-box{top:5%}
}
.drilldown-menu{border-radius:.25rem .25rem 0 0;height:100%;min-width:32.625rem;width:fit-content}
@media (max-width:37.125rem){
.drilldown-menu{min-width:1rem;width:100%}
}
.drilldown-menu .drilldown-menu-item{background-color:#fff;border-bottom-color:#32363a}
.drilldown-menu .drilldown-menu-item.focused .drilldown-menu-item-content,.drilldown-menu .drilldown-menu-item:hover .drilldown-menu-item-content{background:#f4f4f4}
.drilldown-menu .drilldown-menu-item.selected .drilldown-menu-item-content{background:rgba(11,110,208,.12)}
.drilldown-menu .drilldown-menu-item.selected.focused .drilldown-menu-item-content,.drilldown-menu .drilldown-menu-item.selected:hover .drilldown-menu-item-content{background:rgba(11,110,208,.08)}
.drilldown-menu .drilldown-menu-item svg{fill:#515559;stroke:#515559}
.drilldown-menu .drilldown-menu-item .drilldown-menu-item-content{gap:.625rem;padding:.625rem}
.drilldown-menu .drilldown-menu-item .drilldown-menu-item-content svg{margin:-.625rem 0}
@font-face{font-family:"72";font-style:normal;font-weight:100;src:url(/jfe/themes/component-templates/qualtrics/simple/version-1657563026689-31e9f3/files/72-Light.woff2) format("woff2"),url(/jfe/themes/component-templates/qualtrics/simple/version-1657563026689-31e9f3/files/72-Light.woff) format("woff")}
@font-face{font-family:"72";font-style:normal;font-weight:400;src:url(/jfe/themes/component-templates/qualtrics/simple/version-1657563026689-31e9f3/files/72-Regular.woff2) format("woff2"),url(/jfe/themes/component-templates/qualtrics/simple/version-1657563026689-31e9f3/files/72-Regular.woff) format("woff")}
@font-face{font-family:"72";font-style:normal;font-weight:700;src:url(/jfe/themes/component-templates/qualtrics/simple/version-1657563026689-31e9f3/files/72-Bold.woff2) format("woff2"),url(/jfe/themes/component-templates/qualtrics/simple/version-1657563026689-31e9f3/files/72-Bold.woff) format("woff")}
@font-face{font-family:"72";font-style:italic;font-weight:400;src:url(/jfe/themes/component-templates/qualtrics/simple/version-1657563026689-31e9f3/files/72-Italic.woff2) format("woff2"),url(/jfe/themes/component-templates/qualtrics/simple/version-1657563026689-31e9f3/files/72-Italic.woff) format("woff")}
@font-face{font-family:"72";font-style:italic;font-weight:700;src:url(/jfe/themes/component-templates/qualtrics/simple/version-1657563026689-31e9f3/files/72-BoldItalic.woff2) format("woff2"),url(/jfe/themes/component-templates/qualtrics/simple/version-1657563026689-31e9f3/files/72-BoldItalic.woff) format("woff")}
@font-face{font-family:"72-Condensed";font-style:normal;font-weight:400;src:url(/jfe/themes/component-templates/qualtrics/simple/version-1657563026689-31e9f3/files/72-Condensed.woff2) format("woff2"),url(/jfe/themes/component-templates/qualtrics/simple/version-1657563026689-31e9f3/files/72-Condensed.woff) format("woff")}
@font-face{font-family:"72-Condensed";font-style:normal;font-weight:700;src:url(/jfe/themes/component-templates/qualtrics/simple/version-1657563026689-31e9f3/files/72-CondensedBold.woff2) format("woff2"),url(/jfe/themes/component-templates/qualtrics/simple/version-1657563026689-31e9f3/files/72-CondensedBold.woff) format("woff")}
#root,body,html{height:100%}
button{border:0;border-radius:.25rem;font-family:helvetica,arial,sans-serif;outline:0}
button:focus{box-shadow:0 0 0 .125rem #94c7f9}
a{color:#0b6ed0}
#app,.popper{color:#32363a}
.popper{background:0 0}
#app,.portal{font-family:helvetica,arial,sans-serif;font-size:1rem;font-weight:400;line-height:1.375}
#app{background:#fff;display:flex;flex-direction:column;min-height:100%}
@media (min-width:30rem){
#app{justify-content:space-between}
}
#footer,#header-container,#language-selector-container,#logo-container,#navigation{padding:1.5rem}
@media (max-width:30rem){
#footer,#header-container,#language-selector-container,#logo-container,#navigation{padding:1rem}
}
img{height:auto!important;max-width:100%}
input[type=password],input[type=text],optgroup,option,textarea{font-family:helvetica,arial,sans-serif;font-size:1rem}
input[type=password],input[type=text],textarea{-webkit-appearance:none;background:#f4f4f4;border:0;border-radius:.25rem .25rem 0 0;box-shadow:inset 0 -.063rem 0 0 #89918a;box-sizing:border-box;color:#32363a;max-width:100%;outline:0;padding:1rem}
input[type=password]:focus,input[type=text]:focus,textarea:focus{background:#eee;border-radius:.25rem;box-shadow:0 0 0 .125rem #94c7f9;color:#26292c}
input[type=password]:hover,input[type=text]:hover,textarea:hover{background:#e6e6e6;color:#1a1d1f}
#navigation{display:flex;justify-content:center}
@media (min-width:30rem){
#navigation{justify-content:flex-end}
}
#navigation .navigation-button{align-items:center;display:flex;font-size:.875rem;justify-content:center;padding:.625rem;transition:.25s;word-break:break-word}
#navigation .navigation-button:active{box-shadow:none}
#navigation .navigation-button svg{flex-shrink:0}
[dir=rtl] #navigation .navigation-button svg{transform:rotateY(180deg)}
#navigation #previous-button{background:#fff;border:.0625rem solid #0b6ed0;color:#0b6ed0;flex-direction:row-reverse;margin:0 .5rem 0 0;min-height:2.75rem;min-width:6rem}
#navigation #previous-button:hover{background-color:#f0f0f0}
#navigation #previous-button:active{background-color:#e8e8e8;opacity:unset}
#navigation #previous-button:focus{box-shadow:0 0 0 .125rem #94c7f9}
[dir=rtl] #navigation #previous-button{margin:0 0 0 .5rem}
#navigation #previous-button svg{fill:#0b6ed0}
#navigation #next-button{background:#0b6ed0;color:#f7f7f7;flex-grow:1;min-width:7.5rem}
#navigation #next-button:hover{background-color:#095fb3}
#navigation #next-button:active{background-color:#0957a4;opacity:unset}
#navigation #next-button:focus{box-shadow:0 0 0 .125rem #94c7f9}
#navigation #next-button svg{fill:#f7f7f7;margin:0 0 0 .5rem}
[dir=rtl] #navigation #next-button svg{margin:0 .5rem 0 0}
@media (min-width:30rem){
#navigation #next-button{flex-grow:unset;max-width:15.625rem}
}
#page #footer,#page #header{font-size:1.25rem;line-height:1.75rem}
#page #footer,#page #header-container,#page #logo-container,#page #survey-canvas{margin:0 auto;width:100%}
@media (min-width:64rem){
#page #footer,#page #header-container,#page #logo-container,#page #survey-canvas{width:64rem}
}
#page #language-selector-container{display:flex;justify-content:flex-end}
#page #language-selector{min-width:9.375rem}
#page label[for=language-selector]{display:inline-block;font-size:.875rem;margin-bottom:.25rem}
#page .error-banner{align-items:center;background:#fff4f4;border:.0625rem solid #b00;border-radius:.25rem;display:flex;flex-wrap:wrap;justify-content:space-between;margin:1rem 0;max-width:100%;min-height:2.75rem;padding:.675rem .5rem;width:37.5rem}
#page .error-banner .error-banner-message,#page .error-banner button{flex:1 0 auto;width:min-content}
#page .error-banner button{align-items:center;background:0 0;color:#0b6ed0;display:flex;font-size:.875rem;max-width:max-content;min-height:1.5rem;text-decoration:none}
#page .error-banner button span{margin:0 .375rem;text-align:end}
#page .error-banner button svg{fill:#0b6ed0;height:1.5rem;width:1.5rem}
[dir=rtl] #page .error-banner button svg{transform:scaleX(-1)}
#page .error-banner-message{align-items:center;color:#32363a;display:flex;margin-right:.5rem}
[dir=rtl] #page .error-banner-message{margin-left:.5rem}
#page .error-banner-message svg{fill:#32363a;height:1.5rem;width:1.5rem}
#page .error-banner-message span{font-size:.875rem;margin-left:.375rem}
[dir=rtl] #page .error-banner-message span{margin-right:.375rem}
#page #error-message{text-align:center}
#page #logo-container{display:flex;padding:1.5rem}
#page #logo-container img{max-height:6.25rem}
@media (max-width:30rem){
#page #logo-container{padding:1rem}
#page #logo-container img{max-height:3.75rem}
}
#page #header-container{min-height:5rem;padding:1.25rem 1.5rem}
@media (max-width:30rem){
#page #header-container{padding:1rem}
}
#page #header-container.empty{height:5rem}
@media only screen and (max-width:30rem){
#page #header-container.empty{height:3.5rem}
}
#page #contents{padding:0 1.5rem}
@media (max-width:30rem){
#page #contents{padding:0 1rem}
}
#page a{color:#0b6ed0}
#page #survey-canvas a{color:#0b6ed0}
#page #end-of-survey{margin:2rem 0 1rem}
.password{display:inline-block;max-width:100%;position:relative;width:15rem}
.password .password-icon{align-items:center;background:0 0;display:flex;height:2.25rem;justify-content:center;position:absolute;top:50%;transform:translateY(-50%);width:2.25rem}
.password .password-icon:hover{background-color:#e6e6e6}
.password .password-icon:active{background-color:#d9d9d9}
[dir=ltr] .password .password-icon{right:1rem}
[dir=rtl] .password .password-icon{left:1rem}
[dir=ltr] .password .password-input{padding-right:4.25rem}
[dir=rtl] .password .password-input{padding-left:4.25rem}
#plug{font-size:.75rem;padding:.75rem;text-align:center}
@media (min-width:30rem){
#plug{display:flex;padding:1.25rem 0 0}
}
#plug a{color:#32363a;display:inline-block;height:2.75rem;outline:0;padding:.875rem .688rem;text-decoration:none}
#plug a svg{fill:#32363a;margin-inline-start:.5rem;position:relative;top:-.125rem;vertical-align:middle}
[dir=rtl] #plug a svg{transform:scale(-1,1)}
#plug a:active{color:#0854a1}
#plug a:active svg{fill:#0854a1}
#plug a:focus{box-shadow:0 0 0 .125rem #9dc5ed}
@media (min-width:30rem){
#plug a{background:#e5e5e5;border-radius:0 .25rem 0 0}
[dir=rtl] #plug a{border-radius:.25rem 0 0}
#plug a:active,#plug a:hover{background:#0854a1;color:#fff}
#plug a:active svg,#plug a:hover svg{fill:#fff}
}
#progress-bar{margin:0 auto;width:100%}
@media (min-width:64rem){
#progress-bar{width:64rem}
}
#progress-bar #progress-bar-fill{background-color:rgba(0,0,0,.1647058824)}
#progress-bar #progress-bar-fill div{background-color:#0b6ed0;height:.5rem}
.question{margin-bottom:.5rem}
.question .question-display-wrapper{position:relative}
.question .question-display{font-size:1rem;font-weight:400;margin-bottom:.625rem;max-width:45rem;word-break:break-word}
.question .question-content{font-size:1rem;font-weight:400}
.question .required-marker{font-size:1rem;font-weight:400;left:-.625rem;position:absolute}
[dir=rtl] .question .required-marker{right:-.625rem}
.question .required-marker-text{top:0}
.question .choice-content .required-marker{left:0;right:0}
.question .shadowbox .shadow{color:rgba(50,54,58,.7)}
.question .question-error-wrapper{padding:1.5rem 0}
@media (max-width:30rem){
.question .question-error-wrapper{padding:1rem 0}
}
.question .question-error-wrapper .shadowbox-inner{padding:0 1.5rem}
@media (max-width:30rem){
.question .question-error-wrapper .shadowbox-inner{padding:0 1rem}
}
.question .question-error-wrapper.error{border:.0625rem solid #b00;border-radius:.5rem}
.question .error-message{align-items:center;background-color:#fff4f4;border-radius:.25rem;color:#b00;display:inline-flex;font-size:.875rem;justify-content:flex-start;max-width:45rem;padding:.625rem}
.question .question-error-message{margin:0 1.5rem .675rem}
@media (max-width:30rem){
.question .question-error-message{margin:0 1rem .675rem}
}
.question .question-error-message svg{fill:#b00;flex-shrink:0;height:1rem;width:1rem}
.question .question-error-message span{margin-left:.25rem;word-break:break-word}
[dir=rtl] .question .question-error-message span{margin-right:.25rem}
.question .question-error-next{align-items:center;display:flex;justify-content:flex-end;margin:0 1.5rem}
@media (max-width:30rem){
.question .question-error-next{margin:0 1rem}
}
.question .question-error-next button{align-items:center;background:0 0;background-color:#fff;color:#0b6ed0;display:flex;font-size:.875rem;min-height:2.75rem;text-decoration:none}
.question .question-error-next button:hover{background-color:#f0f0f0}
.question .question-error-next button:active{background-color:#e8e8e8;opacity:unset}
.question .question-error-next button span{margin-left:.5rem;margin-right:.25rem}
[dir=rtl] .question .question-error-next button span{margin-left:.25rem;margin-right:.5rem}
.question .question-error-next button svg{fill:#0b6ed0;height:1.5rem;width:1.5rem}
[dir=rtl] .question .question-error-next button svg{transform:scaleX(-1)}
.question .question-error-wrapper.request-response{border-color:#0b6ed0}
.question .question-error-wrapper.request-response .question-error-message{background-color:#eef5fc;color:#0b6ed0}
.question .question-error-wrapper.request-response .question-error-message svg{fill:#0b6ed0}
.question ul.choices{list-style-type:none}
.question .radio-button{border:.125rem solid #89919a;height:1.5rem;width:1.5rem}
.question .radio-button svg{fill:#f7f7f7;height:105%;stroke:#f7f7f7;stroke-width:.125rem;width:105%}
.question .radio-button.selected{background-color:#0b6ed0;border-color:#0b6ed0}
@media (forced-colors:active){
.question .radio-button,.question .radio-button.selected{forced-color-adjust:none}
}
.question .radio-button.radio{border-radius:50%}
.question .radio-button.checkbox{border-radius:.125rem}
.question .display-with-image{align-items:center;width:fit-content}
.question .display-with-image .expandable-image-expandable{border:.125rem solid transparent;border-radius:.25rem;width:fit-content}
.question .display-with-image .expandable-image-expandable:hover{border-color:#0b6ed0}
.question .display-with-image .expandable-image-button{background-color:transparent}
.question .display-with-image.display-top .display-with-image-display{margin-bottom:.25rem}
.question .display-with-image.display-top .expandable-image{justify-self:center}
.question .display-with-image.display-bottom .display-with-image-display{margin-top:.25rem}
.question .display-with-image.display-bottom .expandable-image{justify-self:center}
.question .display-with-image.display-left .display-with-image-display{margin-right:.25rem}
[dir=rtl] .question .display-with-image.display-left .display-with-image-display{margin-left:.25rem;margin-right:0}
.question .display-with-image.display-right .display-with-image-display{margin-left:.25rem}
[dir=rtl] .question .display-with-image.display-right .display-with-image-display{margin-left:0;margin-right:.25rem}
.question .display-with-image{align-items:center;width:fit-content}
.question .display-with-image .expandable-image-expandable{border:.125rem solid transparent;border-radius:.25rem;width:fit-content}
.question .display-with-image .expandable-image-expandable:hover{border-color:#0b6ed0}
.question .display-with-image .expandable-image-button{background-color:transparent}
.question .display-with-image.display-top .display-with-image-display{margin-bottom:.25rem}
.question .display-with-image.display-top .expandable-image{justify-self:center}
.question .display-with-image.display-bottom .display-with-image-display{margin-top:.25rem}
.question .display-with-image.display-bottom .expandable-image{justify-self:center}
.question .display-with-image.display-left .display-with-image-display{margin-right:.25rem}
[dir=rtl] .question .display-with-image.display-left .display-with-image-display{margin-left:.25rem;margin-right:0}
.question .display-with-image.display-right .display-with-image-display{margin-left:.25rem}
[dir=rtl] .question .display-with-image.display-right .display-with-image-display{margin-left:0;margin-right:.25rem}
.scrollable::-webkit-scrollbar{height:.25rem;width:.25rem}
.scrollable::-webkit-scrollbar-thumb{background:#0b6ed0;border-radius:.25rem;height:.25rem;width:.25rem}
.scrollable::-webkit-scrollbar-track{background-color:rgba(99,99,99,.16);border-radius:.25rem;height:.25rem;width:.25rem}
.scrollable{scrollbar-color:#0b6ed0 rgba(99,99,99,.16);scrollbar-width:thin}
.searchbox .searchbox-input{border-radius:.25rem;box-shadow:unset;color:#58595c;font-size:.875rem}
.searchbox .searchbox-input:focus{box-shadow:0 0 0 .125rem #0b6ed0}
.searchbox .searchbox-input::placeholder{color:#515559}
.searchbox svg{fill:#74777a;stroke:#74777a}
.searchbox .searchbox-clear:hover{background-color:#e6e6e6}
.searchbox .searchbox-clear:active{background-color:#d9d9d9}
.select-menu.menu-button{background:#f4f4f4;color:#32363a;font-size:.875rem;padding:.5rem;padding-inline-end:0;padding-inline-start:.75rem}
.select-menu.menu-button svg{fill:#515559;flex-shrink:0;margin:0 .375rem}
.select-menu.menu-button.active,.select-menu.menu-button:focus{background:#eee;box-shadow:0 0 0 .125rem #0b6ed0;color:#26292c}
.select-menu.menu-button:hover{background:#e6e6e6;color:#1a1d1f}
.select-menu.menu-dropdown{background:#fff;border:.063rem solid #ededed;border-radius:.25rem;box-shadow:0 .5rem 1.25rem rgba(0,0,0,.1);color:#32363a;outline:0;padding:.25rem 0}
.select-menu.menu-dropdown .menu-item.focused,.select-menu.menu-dropdown .menu-item:hover{background:#f4f4f4}
.select-menu.menu-dropdown .menu-item.selected{background:rgba(11,110,208,.12)}
.select-menu.menu-dropdown .menu-item.selected.focused,.select-menu.menu-dropdown .menu-item.selected:hover{background:rgba(11,110,208,.08)}
.select-menu.menu-dropdown .menu-item,.select-menu.menu-dropdown .menu-item-group-label{font-size:.875rem;outline:0;padding:.625rem .75rem;word-break:break-word}
.select-menu.menu-dropdown .menu-item.grouped{padding-left:1.5rem}
.select-menu.menu-dropdown .menu-item-group-label{font-style:italic;font-weight:700}
